<div class="card page-card">
    <div class="card-body">

        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">
            <h4 class="mb-0">Entity Types</h4>
        </div>

        <!-- Filter -->
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="d-flex align-items-center gap-1">                
                    <!-- Search Box -->
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary px-3" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>                    
                    <!-- Clear Button -->
                    <button type="button" class="btn btn-light">
                        CLEAR
                    </button>
                </div>
            </div>
        </div>
        <div class="w-100 d-table mb-3">
            <div class="float-end d-flex gap-2">
                <!-- <button (click)="goToNextPage()" class="btn btn-primary btn-material"> -->
                <button class="btn btn-primary btn-material">
                    Add Entity
                </button>

                <button class="btn btn-success btn-material">
                    Export
                </button>
            </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th width="80">Sl No</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th width="140">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Admin</td>
                        <td>System Administrator</td>
                        <td>
                            <button class="btn btn-outline-primary action-btn">
                                <i class="bi bi-pencil"></i>
                            </button>

                            <button class="btn btn-outline-danger action-btn">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Manager</td>
                        <td>Department Manager</td>
                        <td>
                            <button class="btn btn-outline-primary action-btn">
                                <i class="bi bi-pencil"></i>
                            </button>

                            <button class="btn btn-outline-danger action-btn">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>User</td>
                        <td>Standard User Access</td>
                        <td>
                            <button class="btn btn-outline-primary action-btn">
                                <i class="bi bi-pencil"></i>
                            </button>

                            <button class="btn btn-outline-danger action-btn">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <!-- Footer -->
        <div class="d-flex justify-content-between align-items-center mt-3 flex-wrap">

            <div>
                Showing 1 to 3 of 25 entries
            </div>

            <!-- Pagination -->
            <nav>
                <ul class="pagination mb-0">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link">1</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link">2</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link">3</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
</div>

