<form [formGroup]="form" (ngSubmit)="submit()" class="flat-form" novalidate>
    <div class="flat-field">
        <label class="flat-field__label" for="fp-email">First Name</label>
        <input id="fp-email" class="flat-field__input" type="text" formControlName="fname" placeholder="Firs Name" />
    </div>
    <div class="flat-field">
        <label class="flat-field__label" for="fp-email">Last Name</label>
        <input id="fp-email" class="flat-field__input" type="text" formControlName="lname" placeholder="Last Name" />
    </div>
    <div class="flat-field">
        <label class="flat-field__label" for="fp-email">Email</label>
        <input id="fp-email" class="flat-field__input" type="email" formControlName="email" placeholder="mail@email.com" />
    </div>
    <div class="flat-field">
        <label class="flat-field__label" for="fp-email">Company Name</label>
        <input id="fp-email" class="flat-field__input" type="text" formControlName="lname" placeholder="Last Name" />
    </div>
    <div class="flat-field">
        <label class="flat-field__label" for="fp-email">URL</label>
        <input id="fp-email" class="flat-field__input" type="text" formControlName="lname" placeholder="Last Name" />
    </div>
    <div class="flat-field">
        <label class="flat-field__label" for="fp-email">Phone Number</label>
        <input id="fp-email" class="flat-field__input" type="text" formControlName="lname" placeholder="Last Name" />
    </div>

    <div class="flat-form__links">
        <a routerLink="/auth/login" class="flat-link">Back to sign in</a>
    </div>
    <button type="submit" class="flat-submit">
        <mat-progress-spinner diameter="20" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
        Sign Up
    </button>
</form>
